---
import BaseLayout from "../layouts/base.astro";
import * as config from "../config.yaml";
import core from "../core.json";
import AboutFooter from "../components/AboutFooter.astro";
import AboutItemGrid from "../components/AboutItemGrid.astro";
import EventMasonry from "../components/EventMasonry.astro";
import EventItem from "../components/EventItem.astro";
import { isFutureDate } from "../lib/date";

const events = core.events;

const upcomingEvents = [];
let eventsPast = 0;
let eventsUpcoming = 0;

const sectionsConfig = [
  { name: "testimonials", visible: true, order: 1 },
  { name: "core contributors", visible: true, order: 2 },
  { name: "contributors", visible: true, order: 3 },
  { name: "membersGrid", visible: true, order: 4 },
  { name: "socialLinks", visible: true, order: 5 },
];

for (const ev of events) {
  let future = isFutureDate(ev.date);
  if (future) {
    upcomingEvents.push(ev);
    eventsUpcoming++;
  } else {
    eventsPast++;
  }
}

const allowedFeaturedTypes = [
  "summit",
  "meetup",
  "online-summit",
  "congress",
  "privacy-corner",
  "meta-hackathons",
];

const featuredEvents = [];
for (const e of upcomingEvents) {
  if (featuredEvents.length > 2) {
    break;
  }
  if (
    allowedFeaturedTypes.includes(e.type) &&
    e.links?.rsvp &&
    !featuredEvents.find((ex) => ex.type === e.type)
  ) {
    featuredEvents.push(e);
  }
}
---

<BaseLayout
  title="About web3privacy"
  image="og_about"
  subimage="/about/about.png"
  subtext="We are a think-and-do tank made of people, projects, and organizations who protect and advance human rights online."
>
  <div class="middle-pane-medium mt-10">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-16 mb-[82px]">
      <div class="flex flex-col gap-[36px] md:order-2">
        <div class="md:hidden block mb-[12px]">
          <h1>a catalyst for change.</h1>
          <!-- <div set:html={config.landing.mission} /> -->
          <div>
            We break silos and spark collaboration across 
            communities and tech stacks, ensuring a future 
            where digital rights thrive.
            <br />
          </div>
          <div class="mt-8 flex gap-6 items-center w-full">
            <a class="button inverted" href={core.links.manifesto}
              ><button>Read manifesto</button></a
            >
            <a class="button font-bold" href={core.links.telegram}
              ><button>Join us</button></a
            >
          </div>
        </div>
        <h1 class="glitch-text">how we support privacy in web3</h1>

        <AboutItemGrid />
      </div>
      <div class="md:order-1 order-2">
        <div class="md:block hidden">
          <h1 class="glitch-text">a catalyst for change.</h1>
          <div>
            We break silos and spark collaboration across 
            communities and tech stacks, ensuring a future 
            where digital rights thrive.

            <br />
          </div>
          <div class="mt-8 flex gap-6 items-center w-full">
            <a class="button inverted" href={core.links.manifesto}
              ><button>Read manifesto</button></a
            >
            <a class="button" href={core.links.manifesto}
              ><button>Join us</button></a
            >
          </div>
        </div>
        <hr class="mt-10 border-[#e0e0e0]" />
        <div class="md:block hidden mt-[26px]">
          <h1 class="glitch-text">Activism. care. solidarity.</h1>
          <div set:html={config.landing.mission} />
        </div>
        <hr class="mt-10 border-[#e0e0e0]" />

        <div class="mt-[26px]">
          <h1 class="glitch-text">why privacy</h1>
          <p class="mt-0 w-full">
            In any society, privacy, autonomy, and self-determination are
            essential for preserving democracy and individual freedoms.
            <br />
            <br />
            Privacy empowers individuals to engage in political processes without 
            fear of surveillance or retribution, safeguarding their right to free 
            expression, association, and activism. <br />
            <br />
            Strong privacy practices are essential for keeping power in check, 
            preventing governments and corporations from wielding surveillance 
            and mass manipulation.
            <br />
            <br /> When we talk about privacy, we are discussing more than just data
            protection. We are addressing the fate of our societies, their present,
            and their future.
          </p>
          <div class="mt-8 flex gap-6 items-center w-full">
            <a class="button inverted" href={core.links.manifesto}
              ><button>Read More</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-10">
    <EventMasonry />
  </div>

  <div class="middle-pane-medium">
    <div class="mb-6">
      {featuredEvents.map((event) => <EventItem item={event} />)}
    </div>

    <div class="mt-6">
      <a href="/events" class="button inverted"
        ><button>Show all events</button></a
      >
    </div>
  </div>
  <div class="middle-pane-medium mt-10">
    <AboutFooter {sectionsConfig} />
  </div>
</BaseLayout>
