---
import BaseLayout from "../layouts/base.astro";
import AboutFooter from "../components/AboutFooter.astro";
import core from "../core.json";
// import articles from "../articles.json";
// import talks from "../talks.json";

const manualArticles = [
  {
    url: "https://paragraph.com/@web3privacy/web3privacy-awards-2025-projects-category-longlist",
    title: "Web3Privacy Awards 2025: Projects Category Longlist",
    img: "https://img.paragraph.com/cdn-cgi/image/format=auto,width=1920,quality=85/https://storage.googleapis.com/papyrus_images/21e7a3cb65f4327fe12dfaed241fb6486960a9eae7b676484b07d5b05feb075d.jpg",
    date: "2026-02-16T00:00:00.000Z",
  },
  {
    url: "https://paragraph.com/@web3privacy/ethereum-privacy-ecosystem-mapping",
    title: "Ethereum Privacy Ecosystem mapping",
    img: "https://img.paragraph.com/cdn-cgi/image/format=auto,width=1920,quality=85/https://storage.googleapis.com/papyrus_images/180edd773e43cf718e20f4559cb33844279f2791c0a03534c354304d006fde84.jpg",
    date: "2026-02-11T00:00:00.000Z",
  },
  {
    url: "https://paragraph.com/@web3privacy/ethereum-cypherpunk-congress-2-case-study",
    title: "Ethereum Cypherpunk Congress #2 Case Study",
    img: "https://img.paragraph.com/cdn-cgi/image/format=auto,width=1920,quality=85/https://storage.googleapis.com/papyrus_images/67799472a8fd671f6f15b767d0dee37bc6e48776910cf8bd0cfe5dbc21824fea.jpg",
    date: "2026-02-09T00:00:00.000Z",
  },
  {
    url: "https://paragraph.com/@web3privacy/annual-delivery-by-web3privacy-now",
    title: "Annual Report: Privacy impact in 2025",
    img: "https://img.paragraph.com/cdn-cgi/image/format=auto,width=1920,quality=85/https://storage.googleapis.com/papyrus_images/2cf98ed2b1446a6cf5f3a030ea8bfb1f023fd2e77dea479f4b3d55153f22cf77.jpg",
    date: "2026-01-08T00:00:00.000Z",
  },
];

const manualTalks = [
  {
    url: "https://www.youtube.com/watch?v=_evGcDWRuyg",
    title: "\"We're Losing the Web. Publishers Are Rewriting History.\" - Brewster Kahle, Internet Archive",
    img: "https://img.youtube.com/vi/_evGcDWRuyg/maxresdefault.jpg",
    date: "2025-12-18T00:00:00.000Z",
  },
  {
    url: "https://www.youtube.com/watch?v=PSEDY2W9d8A",
    title: "\"Kohaku: Wallet privacy on Ethereum\" by Vitalik Buterin, Consigny & Kassandra",
    img: "https://img.youtube.com/vi/PSEDY2W9d8A/maxresdefault.jpg",
    date: "2025-12-12T00:00:00.000Z",
  },
  {
    url: "https://www.youtube.com/watch?v=ykxHnBon7TI",
    title: "\"Lessons Learned from Tor\" by Roger Dingledine",
    img: "https://img.youtube.com/vi/ykxHnBon7TI/maxresdefault.jpg",
    date: "2025-12-12T00:00:00.000Z",
  },
  {
    url: "https://www.youtube.com/watch?v=S3PiMK8iguY",
    title: "\"Cyberfascism: what is it and how we can fight it?\" by Eva Galperin",
    img: "https://img.youtube.com/vi/S3PiMK8iguY/maxresdefault.jpg",
    date: "2025-12-12T00:00:00.000Z",
  },
];
import dbRepo from "../db-repo.json";
import { format } from "date-fns";
import EventItem from "../components/EventItem.astro";
import { isFutureDate } from "../lib/date";
import EventMasonry from "../components/EventMasonry.astro";
import * as config from "../config.yaml";
import SpeakerGrid from "../components/SpeakerGrid.astro";
import TieredContributors from "../components/TieredContributors.astro";

const events = core.events;

const sectionsConfig = [
  { name: "socialLinks", visible: false, order: 2 },
  // { name: "speakers", visible: true, order: 2 },
  // { name: "tieredContributors", visible: true, order: 2 },
  { name: "contributors", visible: true, order: 3 },
  { name: "testimonials", visible: true, order: 4 },
  { name: "membersGrid", visible: true, order: 5 },
  // { name: "community", visible: false, order: 6 },
];

const upcomingEvents = [];
let eventsPast = 0;
let eventsUpcoming = 2;
for (const ev of events) {
  let future = isFutureDate(ev.date);
  if (future) {
    upcomingEvents.push(ev);
    eventsUpcoming++;
  } else {
    eventsPast++;
  }
}

const allowedFeaturedTypes = [
  "summit",
  "meetup",
  "online",
  "congress",
  "privacycorner",
  "meta-hackathons",
  "hackathon",
  "collab",
  "rave",
];

const featuredEvents = [];
for (const e of upcomingEvents) {
  if (featuredEvents.length > 2) {
    break;
  }
  if (
    allowedFeaturedTypes.includes(e.type) &&
    e.links?.rsvp &&
    !featuredEvents.find((ex) => ex.type === e.type)
  ) {
    featuredEvents.push(e);
  }
}
---

<BaseLayout
  banner="true"
  description="Advocates worldwide are uniting to make privacy fundamental pillar of the Web3 industry, transforming it into a cultural movement that champions freedom and decentralization."
>
  <div class="middle-pane-big">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w3pn-hp-grid gap-2 mt-2"
    >
      <div class="bg-events" data-url="/events">
        <div class="title glitch-text">Events</div>
        <div class="numbers">
          <div>
            <div class="big">{eventsUpcoming}</div>
            <div>Upcoming events</div>
          </div>
          <div>
            <div class="big">{eventsPast}</div>
            <div>Past events</div>
          </div>
        </div>
      </div>
      <div
        class="bg-projects relative"
        data-url="https://github.com/web3privacy/web3privacy/blob/main/README.md#contents"
      >
        <div class="title">
          <div class="flex items-center">
            <div class="icon github small mr-1.5 inline-block"></div>
            <div class="text-white mt-1 ml-1.5">
              <a
                href="https://github.com/web3privacy/web3privacy/blob/main/README.md#contents"
                class="glitch-text">Open-knowledge access</a
              >
            </div>
          </div>
        </div>
        <!-- Place this tag where you want the button to render. -->
        <div
          class="flex items-center absolute top-4 right-4 text-white opacity-30"
        >
          <div class="icon star small mr-1.5"></div>
          {dbRepo.stars}
        </div>
        <div class="numbers">
          <div>
            <div class="big">{dbRepo.count}</div>
            <div>Projects</div>
          </div>
          <div>
            <div class="big">{dbRepo.contributors}</div>
            <div>Contributors</div>
          </div>
        </div>
      </div>
      <div class="bg-talks" data-url="/research">
        <div class="title glitch-text">Research</div>
        <div class="numbers">
          <div>
            <div class="big">{core.research.length} research projects →</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-pane-medium mt-10">
    <div class="mt-16">
      <h1 class="glitch-text">Global Impact</h1>
    </div>

    <div class="text-left">
      15.000 event visitors from 70 countries, 200 speakers from whistleblower Chelsea Manning to Tor co-founder Roger Dingledine, 
      open-source contributions from Audrey Tang to Vitalik Buterin, 70 supporting orgs from Ethereum Foundation to Protocol Labs. 
      We build solidarity between activists and freedom tech visionaries.
      Empower positive shift in power dynamics backed by the latest cryptographic tools.
    </div>
  </div>

  <div class="my-10">
    <EventMasonry />
  </div>

  <div class="middle-pane-medium">
    <div class="mb-6">
      {featuredEvents.map((event) => <EventItem item={event} />)}
    </div>

    <div class="mt-6">
      <a href="/events" class="button inverted"
        ><button>Show all events</button></a
      >
    </div>

    <div class="mt-16">
      <h1 class="glitch-text">Latest Articles</h1>
    </div>

    <div class="w3pn-articles grid md:grid-cols-2 gap-6">
      {
        manualArticles.map((entry) => (
          <a href={entry.url} target="_blank" class="basegrid-entry aspect-video"
            style={{
              backgroundImage: `url("${entry.img}")`,
              backgroundSize: "100% 100%;",
            }}
          >
            <div class="title">
              <span>{entry.title}</span>
              <span class="date">
                {format(new Date(entry.date), "MMMM do, yyyy")}
              </span>
            </div>
          </a>
        ))
      }
    </div>

    <div class="mt-8">
      <a href={core.links.mirror} class="button inverted"
        ><button>More articles on Mirror</button></a
      >
    </div>

    <!--  <div class="middle-pane-medium mt-16">
      <h1 class="my-6 glitch-text">Contributors</h1>
      <SpeakerGrid
        people={core.people}
        team={core.teams["core-speakers"]}
        core={true}
      />
    </div> -->

    <div class="middle-pane-medium mt-16">
      <h1 class="my-6 glitch-text">Contributors</h1>

      <TieredContributors
        people={core.people}
        team={core.teams["tiered-contributors"]}
        core={true}
      />
    </div>

    <div class="mt-16">
      <h1 class="glitch-text">Latest Talks</h1>
    </div>

    <div class="grid md:grid-cols-2 gap-6">
      {
        manualTalks.map((entry) => (
          <a href={entry.url} target="_blank" class="basegrid-entry aspect-video"
            style={{
              backgroundImage: `url("${entry.img}")`,
              backgroundSize: "cover",
              backgroundPosition: "center",
            }}
          >
            <div class="title">
              <span>{entry.title}</span>
              <span class="date">
                {format(new Date(entry.date), "MMMM do, yyyy")}
              </span>
            </div>
          </a>
        ))
      }
    </div>

    <div class="mt-8">
      <a href={core.links.youtube} class="button inverted"
        ><button>More talks on YouTube</button></a
      >
    </div>
  </div>
  <div class="middle-pane-medium mt-16">
    <h1>
      <a class="glitch-text" href="https://docs.web3privacy.info/get-involved">
        Join the Community
      </a>
    </h1>
    <div>{config.landing.community}</div>
    <div
      class="grid place-items-center grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2 pt-4 w-full"
    >
      <a
        href={core.links.twitter}
        class="bg-[#101010] w-full flex items-center justify-center w-full h-40 overflow-hidden"
      >
        <button class="flex flex-col items-center justify-center">
          <div class="icon twitter"></div>
          @web3privacy
        </button>
      </a>
      <a
        href={core.links.telegram}
        class="bg-[#101010] w-full flex items-center justify-center w-full h-40 overflow-hidden"
      >
        <button class="flex flex-col items-center justify-center">
          <div class="icon telegram"></div>
          Telegram
        </button>
      </a>
      <a
        href={core.links.signal}
        class="bg-[#101010] w-full flex items-center justify-center w-full h-40 overflow-hidden"
      >
        <button class="flex flex-col items-center justify-center">
          <div class="icon">
            <img src="/icons/signal.svg" alt="" />
          </div>
          Signal
        </button>
      </a>
      <a
        href={core.links.matrix}
        class="bg-[#101010] w-full flex items-center justify-center w-full h-40 overflow-hidden"
      >
        <button class="flex flex-col items-center justify-center">
          <div class="icon matrix"></div>
          matrix
        </button>
      </a>
    </div>
  </div>

  <AboutFooter {sectionsConfig} />
  <script is:inline>
    document.querySelectorAll(".w3pn-hp-grid > div").forEach((el) => {
      el.addEventListener("click", () => {
        window.location = el.getAttribute("data-url");
      });
    });
    document.querySelectorAll(".w3pn-articles > div").forEach((el) => {
      el.addEventListener("click", () => {
        window.location = el.querySelector("a").getAttribute("href");
      });
    });
  </script>
</BaseLayout>
