---
const { item } = Astro.props;
import { marked } from 'marked';
import EventsExt from '../events-ext.json';
import core from "../core.json";
import { dateFormat, dateInfo, dateEnd, nameRenderer, ccRenderer, eventStatus, getSpeaker, findExt } from '../lib/events.js';
import SpeakerList from './SpeakerList.astro';

const ext = findExt(EventsExt, item)
const status = eventStatus(item)
---

<div class="w3pn-event-item">
    <div class="event-header flex">
        <div class="header-base sm:flex gap-4 grow px-3 py-2.5 sm:px-4 sm:py-3 cursor-pointer">
            <div class="w-full sm:w-28 flex sm:block sm:text-right leading-normal">
                <div class="">{dateFormat(item.date)}</div>
                {item.days && item.days > 1 &&
                    <div class="ml-1.5"> <span class="inline-block sm:hidden">- </span>{dateFormat(dateEnd(item.date, item.days))}</div>
                }
            </div>
            <div>
                <div class="">
                    <a href={`/event/${item.id}`} class="text-white text-lg hover:underline">{nameRenderer(item)}</a>
                    <div class="inline-block ml-2">
                        {item.type === "hackathon" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">HACKATHON</span>}
                        {item.type === "summit" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">SUMMIT</span>}
                        {item.type === "privacy-corner" && <span class="text-xs ml-2 text-black bg-gray-500 px-1 py-0.5">↴ PC</span>}

                        {item.tags && item.tags.includes("sfe") && <span class="text-xs ml-2 text-black bg-gray-500 px-1 py-0.5" title="Sponsorship Free Edition (SFE)">SFE</span>}
                    </div>
                </div>
                <div class="flex gap-2">
                    <img src={`/flags/${item.country}.svg`} class="w-4" />
                    <div>
                        {item.city}, {item.country.toUpperCase()}
                        {item.coincidence &&
                            <span>&nbsp;- {ccRenderer(item)}</span>
                        }
                    </div>
                </div>
            </div>
            <div class="py-1 grow text-right items-center flex gap-4">
                <div class="grow"></div>
                {item.speakers &&
                    <div class="flex -space-x-3">
                        {item.speakers.map(spId => getSpeaker(core, spId)).slice(0,7).map((speaker) => (
                            <div><img src={speaker.imageUrl} class="w-8 h-8 aspect-square object-fit rounded-full border-gray-800 border-2" /></div>
                        ))}
                        {item.speakers.length > 7 &&
                            <div class="flex items-center justify-center w-8 h-8 rounded-full aspect-square border-2 border-gray-800 bg-gray-800 text-xs">+{item.speakers.length - 7}</div>
                        }
                    </div>
                }
                {ext && ext.guestCount > 0 &&
                    <div>
                        <div class="text-center text-white leading-tight">{ext.guestCount}</div>
                        <div class="text-xs">guests</div>
                    </div>
                }
                {item.visitors && item.visitors > 0 &&
                    <div>
                        <div class="text-center text-white leading-tight">{item.visitors}</div>
                        <div class="text-xs">guests</div>
                    </div>
                }
                {/*<div class="text-sm"></div>*/}
                {item.links?.rsvp &&
                        <a href={item.links?.rsvp} class="button inverted"><button>Join</button></a>
                }
            </div>

        </div>

    </div>
    <div class="detail hidden flex sm:gap-4">
        <div class="w-0 sm:w-28"></div>
        <div>
            <div>Date: <span class="text-white">{dateFormat(item.date)} {item.days ? ' - ' + dateFormat(dateEnd(item.date, item.days)) + ` (${item.days} days)` : ''}</span></div>
            <div>
                Venue: {item.place && <span class="text-white" set:html={marked.parseInline(item.place)}></span> || "TBD"}
                {item.place && item['place-address'] && 
                    <span> @ </span>
                    <span class="text-white">{item['place-address']}</span>
                }
            </div>
            <div>Status: <span class:list={[status.color]} class="mr-1.5 text-xs">●</span> {status.title}</div>
            <div>Lead: <span class="text-white">{item.lead || 'n/a'}</span></div>

            <div class="mt-4 mb-2">
                {item.links?.rsvp &&
                    <a href={item.links.rsvp} class="button inverted"><button>More details & RSVP</button></a>
                }
                {item.links?.web &&
                    <a href={item.links.web} class="button inverted"><button>Website</button></a>
                }
            </div>

            <SpeakerList {item} />
        </div>
    </div>
</div>