---
const { item } = Astro.props;
import { marked } from 'marked';
import EventsExt from '../events-ext.json';
import core from "../core.json";
import { dateFormat, dateEnd, nameRenderer, ccRenderer, eventStatus, getSpeaker, findExt, getEventPoster } from '../lib/events.js';
import SpeakerList from './SpeakerList.astro';
import PeopleCarousel from './PeopleCarousel.astro';

const ext = findExt(EventsExt, item)
const status = eventStatus(item)
const eventPoster = getEventPoster(item)
---

<div class="w3pn-event-item">
    <div class="event-header flex">
        <div class="header-base sm:flex gap-4 grow px-3 py-2.5 sm:px-4 sm:py-3">
            <div class="w-full sm:w-28 flex sm:block sm:text-right leading-normal">
                <div class="">{dateFormat(item.date)}</div>
                {item.days && item.days > 1 &&
                    <div class="ml-1.5"> <span class="inline-block sm:hidden">- </span>{dateFormat(dateEnd(item.date, item.days))}</div>
                }
            </div>
            <div>
                <div class="">
                    <a href={`/event/${item.id}`} class="text-white text-lg hover:underline">{nameRenderer(item)}</a>
                    {item.issue &&
                        <a href={`https://github.com/web3privacy/events/issues/${item.issue}`} class="ml-0.5 text-white/30 hover:underline">#{item.issue}</a>
                    }
                    <div class="inline-block ml-2">
                        {item.type === "hackathon" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">HACKATHON</span>}
                        {item.type === "summit" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">SUMMIT</span>}
                        {item.type === "online" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">ONLINE</span>}
                        {item.type === "privacycorner" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">PRIVACY CORNER</span>}
                        {item.type === "colab" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">COLLAB</span>}
                        {item.type === "congress" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">CONGRESS</span>}
                        {item.type === "rave" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">RAVE</span>}
                        {item.type === "meetup" && <span class="text-xs ml-2 text-black bg-white px-1 py-0.5">MEETUP</span>}
                        {item.tags && item.tags.includes("sfe") && <span class="text-xs ml-2 text-black bg-gray-500 px-1 py-0.5" title="Sponsorship Free Edition (SFE)">SFE</span>}
                    </div>
                </div>
                <div class="flex gap-2">
                    {item.type !== 'online' &&
                        <img src={`/flags/${item.country}.svg`} class="w-4" />
                        <div>
                            {item.city}, {item.country.toUpperCase()}
                            {item.coincidence &&
                                <span>&nbsp;- {ccRenderer(item)}</span>
                            }
                        </div>
                    }
                    {item.type === 'online' && 
                        <img src="/flags/other/earth.svg" class="w-4" />
                        <div>Global</div>
                    }
                </div>
            </div>
            <div class="py-1 grow text-right items-center flex gap-4">
                <div class="grow"></div>
                {item.speakers &&
                    <PeopleCarousel items={item.speakers.map(spId => getSpeaker(core, spId))} />
                }
                {ext && ext.guestCount > 0 &&
                    <div>
                        <div class="text-center text-white leading-tight">{ext.guestCount}</div>
                        <div class="text-xs">guests</div>
                    </div>
                }
                {item.visitors && item.visitors > 0 &&
                    <div>
                        <div class="text-center text-white leading-tight">{item.visitors}</div>
                        <div class="text-xs">guests</div>
                    </div>
                }
                {/*<div class="text-sm"></div>*/}
                {item.links?.rsvp &&
                        <a href={item.links?.rsvp} class="button inverted border-2"><button>Join</button></a>
                }
            </div>

        </div>

    </div>
    <div class="detail hidden flex flex-wrap sm:flex-nowrap sm:gap-4">
        <div class="w-0 sm:w-28"></div>
        <div class="grow">
            <div>Date: <span class="text-white">{dateFormat(item.date)} {item.days ? ' - ' + dateFormat(dateEnd(item.date, item.days)) + ` (${item.days} days)` : ''}</span></div>
            <div>
                {item.type !== 'online' &&
                    <div>Venue: {item.place && <span class="text-white" set:html={marked.parseInline(item.place)}></span> || "TBD"}</div>
                }
                {item.place && item['place-address'] && 
                    <span> @ </span>
                    <span class="text-white">{item['place-address']}</span>
                }
            </div>
            <div>Status: <span class:list={[status.color]} class="mr-1.5 text-xs">●</span> {status.title}</div>
            <!--div>Lead: <span class="text-white">{item.lead || 'n/a'}</span></div-->

            <div class="mt-4 mb-2 flex flex-wrap gap-4">
                <a href={`/event/${item.id}`} class="button inverted"><button>More details</button></a>
                {item.links?.rsvp &&
                    <a href={item.links.rsvp} class="button inverted"><button>RSVP</button></a>
                }
                {item.links?.web &&
                    <a href={item.links.web} class="button inverted"><button>Website</button></a>
                }
            </div>

            <SpeakerList {item} />
        </div>
        {eventPoster &&
            <div><a href={`/event/${item.id}`}><img src={eventPoster} class="w-64" /></a></div>
        }
    </div>
</div>
