---
const { people, team, core } = Astro.props;

// Filter based on the `core` parameter
const members = core
  ? people.filter((p) => team.includes(p.id)) // If `core` is true, filter for team members
  : people.filter((p) => !team.includes(p.id)); // If `core` is false or undefined, filter for non-team members

const filteredPeople = members.filter((p) => p.imageUrl).slice(0, 12);

function personLink(person) {
  if (person.refs?.twitter) {
    return `https://twitter.com/${person.refs.twitter}`;
  } else if (person.refs?.bsky) {
    return `https://bsky.app/profile/${person.refs.bsky}`;
  } else if (person.refs?.linkedin) {
    return `https://www.linkedin.com/in/${person.refs.linkedin}`;
  } else if (person.refs?.github) {
    return `https://github.com/${person.refs.github}`;
  } else if (person.refs?.matrix) {
    return `https://matrix.to/#/${person.refs.matrix}`;
  } else if (person.refs?.email) {
    return `mailto:${person.refs.email}`;
  } else {
    return "#";
  }
}
---

<div
  class="grid grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 md:gap-4 place-items-start"
>
  {
    filteredPeople.map((person) => (
      <div class="max-w-xs w-full max-h-[340px] bg-transparent overflow-hidden p-1 space-y-1 mb-2">
        <a href={personLink(person)}>
          <img
            src={person.imageUrl}
            alt={person.name}
            class="h-24 w-full md:h-48 object-cover object-center h-full"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-xs md:text-lg font-bold leading-6">{person.name}</h3>
          {person.refs && (
            <p class="text-xs text-gray-500">
              {person.refs.twitter && `@${person.refs.twitter}`}
              {person.refs.bsky && ` | bsky: ${person.refs.bsky}`}
              {person.refs.linkedin && ` | LinkedIn: ${person.refs.linkedin}`}
              {person.refs.github && ` | GitHub: ${person.refs.github}`}
              {person.refs.matrix && ` | Matrix: ${person.refs.matrix}`}
              {person.refs.email && ` | Email: ${person.refs.email}`}
            </p>
          )}
        </div>
      </div>
    ))
  }
</div>
