---
import * as config from '../config.yaml';
import core from '../core.json';
import '../styles/base.css';
const {banner, title, description} = Astro.props;

import cfonts from 'cfonts';

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title ? title + ' | ' + config.title : config.title}</title>
		<link
			rel="preload"
			href="/fonts/archivo-regular-latin-ext.woff2"
			as="font"
			type="font/woff2"
			crossorigin
	  	/>
		<link
		  rel="preload"
		  href="/fonts/archivo-regular-latin.woff2"
		  as="font"
		  type="font/woff2"
		  crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/major-mono-display-v13-latin-regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</head>
	<body class="bg-black text-white">
		<div class="nav-links">
			<div class="w-full">
				{config.header.menu.map((menuItem) => (
					<div class="uppercase w-full">
						<a href={core.links[menuItem.link] || menuItem.url} class="inline-block hover:underline px-4 py-2" class:list={[menuItem.url?.match(/^http/) ? "external" : "", Astro.url.pathname === menuItem.url ? "text-white" : ""]}>{menuItem.name}</a>
					</div>
				))}
			</div>
		</div>
		<div class="w-full z-10" class:list={[banner ? "h-[600px]" : "pb-6"]} id={banner ? "intro" : "no-intro"}>
			<header class="flex pt-6 middle-pane-big">
				<div class="mr-4 lg:hidden">
					<div class="hamburger"></div>
				</div>
				<div class="w-40">
					<a href="/" class="w3pn-logo" class:list={["w-32 lg:w-40", banner ? "hidden" : "block"]}></a>
				</div>
				<div class="hidden lg:flex grow gap-0 xl:gap-2 justify-center">
					{config.header.menu.map((menuItem) => (
						<div class="uppercase hover:text-[#c2c2c2]" class:list={[menuItem.link ? "xexternal" : "", Astro.url.pathname === menuItem.url ? "text-white" : ""]}>
							<a href={core.links[menuItem.link] || menuItem.url} class="inline-block hover:underline px-4 py-2">
								{menuItem.name}

							</a>
						</div>
					))}
				</div>
				<div class="flex grow lg:grow-0 gap-3 lg:gap-6 justify-end pt-1 lg:pt-2.5">
					{config.header.rightMenu.map((key) => (
						<a href={core.links[key]} class="block icon xsmall sm:small opacity-50 hover:opacity-100" class:list={[key]} target="_blank"></a>
					))}
				</div>
			</header>
			{banner &&
				<div class="w-full h-full flex mt-20 sm:mt-32 middle-pane-medium">
					<div>
						<div class="w3pn-logo w-64 sm:w-72 lg:w-80 xl:w-96"></div>
						<div class="text-left mt-10">
							{config.hero.text}
						</div>
						<div class="mt-6">
							<a class="button" href="/about"><button>About Web3Privacy Now</button></a>
						</div>
					</div>
				</div>
			}
			{!banner &&
				<div class="middle-pane-medium mt-8 sm:mt-14 mb-2 sm:mb-8">
					<div class="leading-none flex justify-center text-[4px] sm:text-[8px] text-white">
						{/*<img src="/page-events.png" class="h-8 sm:h-14" title="Events" />*/}
						<pre><code>{cfonts.render(title + ' ', { font: '', maxLength: 2500 }).string}</code></pre>
					</div>
				</div>
			}
		</div>

		<slot />

		<div class="border border-t-2 border-b-0 border-l-0 border-r-0 border-[#0f0f0f] mt-20 pt-10 pb-10">
			<div class="middle-pane-big">
				<div class="flex gap-10 text-lg items-center flex-wrap align-top" id="footerMenu">
					<a href="/" class="w3pn-logo w-32"></a>
					<div class="grow flex justify-end">
						<div class="lg:flex justify-center flex-wrap gap-4 lg:gap-10">
							{config.footer.menu.map((item) => (
								<div class="flex gap-4 items-center menuItem lg:mb-0 mb-2">
									<div class="icon small opacity-50" class:list={[item.ico]}></div>
									<div class="text-white hover:underline"><a href={item.url || core.links[item.link]}>{item.title}</a></div>
								</div>
							))}
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			document.querySelector('.hamburger').addEventListener('click', () => {
			  document.querySelector('.nav-links').classList.toggle('expanded');
			});
		  </script>
	</body>
</html>
