---
//import { ViewTransitions } from 'astro:transitions';

import * as config from "../config.yaml";
import * as pkg from "../../package.json";
import core from "../core.json";
import "../styles/base.css";
import MetaTags from "../components/MetaTags.astro";

const { banner, title, metaTitle, description, image, subtext, subimage } =
  Astro.props;

import cfonts from "cfonts";

function genHeading(str) {
  return cfonts.render(str + " ", { font: "", maxLength: 5000 }, null, null, {
    width: "5000",
    height: "5000",
  }).string;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <MetaTags
      title={metaTitle ? metaTitle : title ? title : config.name}
      description={description ? description : config.description}
      image={image}
    />

    <link
      rel="preload"
      href="/fonts/archivo-regular-latin-ext.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/archivo-regular-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/major-mono-display-v13-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/dm-mono-regular-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body class="bg-black text-white">
    <div class="nav-links">
      <div class="w-full">
        {
          config.header.menu.map((menuItem) => (
            <div class="uppercase w-full">
              <a
                href={core.links[menuItem.link] || menuItem.url}
                class="inline-block hover:underline px-4 py-2"
                class:list={[menuItem.url?.match(/^http/) ? "external" : ""]}
              >
                {menuItem.name}
              </a>
            </div>
          ))
        }
      </div>
    </div>
    <div
      class="w-full z-10 relative"
      style={subimage
        ? `background-image: url(${subimage}); background-size: cover; background-position: 0rem 0rem;`
        : "	"}
      class:list={[
        typeof banner === "object"
          ? "aspect-video"
          : banner
            ? "h-[600px]"
            : "pb-6",
      ]}
      id={banner === "true" ? "intro" : "no-intro"}
    >
      {
        typeof banner === "object" && (
          <div class="absolute w-full aspect-video -z-10">
            <div
              class="w-full h-full"
              style={`background-image: url(${banner.img}); background-size: 100% 100%; background-position: 0rem 0rem;`}
            />
          </div>
        )
      }
      <header class="flex pt-6 middle-pane-big">
        <div class="mr-4 lg:hidden">
          <div class="hamburger"></div>
        </div>
        <div class="w-40">
          <a
            href="/"
            class="w3pn-logo"
            class:list={["w-32 lg:w-40", banner ? "hidden" : "block"]}></a>
        </div>
        <div class="hidden lg:flex grow gap-0 xl:gap-2 justify-center">
          {
            config.header.menu.map((menuItem) => (
              <div
                class="uppercase hover:text-[#c2c2c2]"
                class:list={[
                  menuItem.link ? "xexternal" : "",
                  Astro.url.pathname === menuItem.url ? "text-white" : "",
                ]}
              >
                <a
                  href={core.links[menuItem.link] || menuItem.url}
                  class="inline-block hover:underline px-4 py-2"
                >
                  {menuItem.name}
                </a>
              </div>
            ))
          }
        </div>
        <div
          class="flex grow lg:grow-0 gap-3 lg:gap-6 justify-end pt-1 lg:pt-2.5"
        >
          {
            config.header.rightMenu.map((key) => (
              <a
                href={core.links[key]}
                class="block icon xsmall sm:small opacity-50 hover:opacity-100"
                class:list={[key]}
                target="_blank"
              />
            ))
          }
        </div>
      </header>
      {
        banner && typeof banner !== "object" && (
          <div class="w-full flex mt-20 sm:mt-32 middle-pane-medium">
            <div>
              <div class="w3pn-logo w-64 sm:w-72 lg:w-80 xl:w-96" />

              {/* <h1 class="glitch-text-interval text-6xl">
                web3privacy summit #1
              </h1> */}
              <div class="text-left mt-10" set:html={config.hero.text} />
              <div class="mt-6">
                <a class="button" href="/about">
                  <button>
                    <strong>About US</strong>
                  </button>
                </a>
              </div>
            </div>
          </div>
        )
      }
      {
        !banner && (
          <>
            <div class="middle-pane-medium mt-8  sm:mt-14 sm:mb-8">
              <div class="leading-none flex justify-center mb-3 text-[4px] sm:text-[8px] text-white">
                <pre>
                  <code class="font-mono layout-heading  ">
                    {genHeading(title)}
                  </code>
                </pre>
              </div>
              <div class="flex items-center justify-center w-full text-center">
                <h3 class=" w-full max-w-[938px] glitch-text">{subtext}</h3>
              </div>
            </div>
          </>
        )
      }
    </div>

    <slot />

    <div
      class="border border-t-2 border-b-0 border-l-0 border-r-0 border-[#0f0f0f] mt-20 pt-10 pb-10 middle-pane-medium"
    >
      <div
        class="flex mx-6 gap-10 text-lg items-center flex-wrap align-top"
        id="footerMenu"
      >
        <a href="/" class="w3pn-logo w-52"></a>
        <div class="text-md">
          <a
            href="https://github.com/web3privacy/web"
            class="text-white hover:underline">v{pkg.version}</a
          >
        </div>
      </div>

      <div class="flex justify-between">
        <div class="mx-6 py-10 text-center md:text-left">
          <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
            <div class="">
              <p class="mb-4">
                <a href="#!">Manifesto</a>
              </p>
              <p class="mb-4">
                <a href="#!">How to get involved?</a>
              </p>
              <p class="mb-4">
                <a href="#!">Grants / Support Us</a>
              </p>
            </div>
            <div>
              <p class="mb-4">
                <a href="#!">Events</a>
              </p>
              <p class="mb-4">
                <a href="#!">Articles</a>
              </p>
              <p class="mb-4">
                <a href="#!">Talks</a>
              </p>
            </div>
            <div>
              <p class="mb-4">
                <a href="/#">Privacy Explorer</a>
              </p>
              <p class="mb-4">
                <a href="/#">Privacy use-cases database</a>
              </p>
            </div>
          </div>
        </div>
        <div class="py-10 md:text-left">
          <div class="grid-1 grid gap-4 md:grid-cols-2 lg:grid-cols-5">
            {
              config.footer.menu.map((item) => (
                <div>
                  <p class="mb-4">
                    <a href={item.url || core.links[item.link]}>{item.title}</a>
                  </p>
                </div>
              ))
            }
          </div>
        </div>
      </div>

      <!--Copyright section-->
      <div class="bg-black/5 p-6 text-start">
        <a class="font-semibold" href="https://tw-elements.com/"
          >All rights not reserved, Creative commons 2024 - Web3Privacy z.s.</a
        >
      </div>
    </div>

    <!-- Load TextScramble.js -->
    <script src="/scripts/text-scramble.js" type="module"></script>
    <script>
      document.querySelector(".hamburger").addEventListener("click", () => {
        document.querySelector(".nav-links").classList.toggle("expanded");
      });
    </script>
  </body>
</html>
